.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  margin: 10px;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: #add8e6;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}
.ship-cell {
  background-color: #808080;
}
.cell:hover {
  cursor: pointer;
}
.hit-cell {
  background-color: red; /* hit */
}

.miss-cell {
  background-color: yellow; /* miss */
}
